
h1 {
    color: green;
    font-style: italic;
}


.person {
  display: flex;
  align-items: center; /* Centers the items vertically */
  padding-left: 2px;
}


h3 {
    margin-right: 20px
}

p {
    margin-right: 20px
}

.newContact {
    color: rgb(10, 96, 41);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }